.main-h1 {
	color: #000;
	font-size: 48px;
	text-align: center;
	margin-bottom: 10px;
}

.main-p {
	position: relative;
	margin: 0 auto;
	font-size: 18px;
	width: 280px;
	color: #000;
	margin-bottom: 30px;
}

hr {
	background: #eaeaea;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 3px;
	border: none;
	margin: 0 50px;
}

/*------------------------------------------------------form-------------------------------------------------*/

.form-wrapper {
	display: flex;
	flex-direction: column;
	margin-left: calc(50% - 160px);
	padding-bottom: 30px;
}

.input-wrapper {
	position: relative;
	margin-top: 20px;
}

.input-wrapper:first-child {
	margin-top: 0;
}

.form-input-label {
	position: absolute;
	text-align: right;
	width: 100%;
	max-width: 200px;
	font-size: 20px;
	color: #000;
	top: 10px;
	left: -240px;
}

.required:after {
	content: '*';
	position: absolute;
	right: -10px;
	top: 0;
	color: red;
}

.form-input-text {
	width: 400px;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid var(--border-yellow);
	outline: none;
	color: var(--text-color);
	background: var(--white-gray-switch);
}

.form-input-label p {
	max-width: 200px;
	font-size: 16px;
	text-align: right;
	opacity: 0.6;
	margin-top: 5px;
}

.form-textarea {
	resize: none;
	outline: none;
	font-size: 20px;
	color: var(--text-color);
	padding: 10px;
	border: 2px solid var(--border-yellow);
	background: var(--white-gray-switch);
	border-radius: 5px;
	width: 480px;
	height: 180px;
}

.form-button {
	cursor: pointer;
	display: block;
	width: 300px;
	margin-top: 10px;
	color: var(--text-color);
	font-size: 20px;
	font-weight: 600;
	outline: none;
	text-align: center;
	padding: 10px 20px;
	background: var(--white-gray-switch) /*#FFFFFF*/;
	border: 2px solid var(--border-yellow);
	border-radius: 10px;
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition : background 0.2s ease-in-out;	
}

.form-button:hover {
	background: var(--link-hover-main);
}

html[data-theme="dark"] .form-button:hover {
	background: #222;
}

/*---------------------------------------------------select--------------------------------------------------*/

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 10px;
  padding-right: 20px;
  margin: 0;
  outline: none;
  width: 420px;
  color: var(--text-color);
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}

option {
	background: var(--white-gray-switch);
}

.form-input-select {
	display: grid;
	width: 420px;
	border: 2px solid var(--border-yellow);
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	background: var(--white-gray-switch);
	grid-template-areas: "select";
	align-items: center;
}

.form-input-select:after {
  content: "";
  width: 15px;
  height: 8px;
  margin-right: 15px;
  background-color: var(--text-color);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.form-input-select:after {
	grid-area: select;
}

input[type="checkbox"] {
	position: relative;
	width: 30px;
	height: 30px;
	color: #000;
	background: var(--white-gray-switch);
	border: 2px solid var(--border-yellow);
	margin-top: 7px;
	border-radius: 5px;
	margin-left: 0;
	appearance: none;
	outline: 0;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

input[type="checkbox"]:hover {
    background: var(--item-hover-main);
}

input[type="checkbox"]:before {
	position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 8px;
    width: 8px;
    height: 15px;
    border-style: solid;
    border-color: var(--text-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked {
    color: var(--text-color);
    background: var(--item-hover-main);
}

input[type="checkbox"]:checked:before {
	opacity: 1;
}

.input-images-wrapper {
	display: flex;
	flex-direction: row;
}

input[type="file"] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.form-input-image-label {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 176px;
	height: 99px;
	z-index: 2;
	overflow: hidden;
	border: 2px solid var(--border-yellow);
	border-right: none;
	background: var(--white-gray-switch);
}

.form-input-image-label:before {
	position: absolute;
	content: '';
	background: url('/DIPLOMA/images/camera-minimal.png');
	background-size: 100% 100%;
	filter: opacity(25%);
	width: 80px;
	height: 80px;
	z-index: 1;
    background-blend-mode: color;
	top: calc(50% - 40px);
	left: calc(50% - 40px);
}

html[data-theme="dark"] .form-input-image-label:before {
	filter: invert(90%) opacity(25%);
}

.form-input-image-label p {
	position: absolute;
	width: 100%;
	padding: 2px 0;
	text-align: center;
	background: var(--link-hover-main);
	bottom: 0;
	margin: 0;
}

.clear-input-image {
	position: absolute;
	cursor: pointer;
	outline: none;
	font-size: 18px;
	border: none;
	color: #000;
	padding: 0 5px;
	top: 5px;
	right: 5px;
	z-index: 3;
	border-radius: 3px;
	background: var(--border-yellow);
	transition: background 0.2s ease-in-out;
}

.clear-input-image:hover {
	background-color: var(--link-hover-secondary);
}