html {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-style: normal;
	color: var(--text-color);
	background: #FBFBFB;
	background: url('/DIPLOMA/images/background-3.jpg');
}

html[data-theme="dark"] {
	background: url('/DIPLOMA/images/background-5.jpg');
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 500ms !important;
  transition-delay: 0 !important;
}

body {
	width: 1263px;
	margin: 0 auto;
	background: var(--background);
}

a:link,
a:visited {
	text-decoration: none;
	color: var(--text-color) /*#000*/;
}

.left {
	float: left;
}

.right {
	float: right;
}
/*-----------------------------------------header-------------------------------------------------*/
header {
	height: 185px;
	left: 0px;
	top: 0px;
	padding: 10px 20px 0px 20px; 

	background: var(--main-color) /*#FFD642*/;
	box-shadow: 0px 0px 4px 1px rgba(142, 119, 0, 0.6);
}

.header-nav {
	position: relative;
	display: flex;
	width: 100%;
	height: 100px;
}

.home-link:link,
.home-link:visited {
	display: flex;
	flex-direction: row;
	padding: 0;
	width: 195px;
	height: 60px;
	border: 1px solid var(--border-yellow) /*#FFD642*/;
	box-shadow: 0px 0px 5px rgba(152, 119, 0, 0.8);
	border-radius: 7px;
}

.home-link:active {
	padding-top: 3px;
	padding-bottom: 3px;
}

.logo {
	width: 60px;
	height: 60px;
}

.name {
	padding-left: 5px;
	line-height: 60px;
	font-size: 20px;

	text-shadow: 1px 1px 2px rgba(152, 119, 0, 0.8);
}

.header-phone-numbers {
	position: relative;
	font-size: 12px;
	line-height: 18px;
	margin-left: 40px;
	text-align: center;
}

.header-admin-courier-link {
	position: absolute;
	width: 100%;
	bottom: 10px;
	font-size: 18px;
	text-align: center;
}

.header-nav form {
	display: flex;
}

.header-nav-form-link-ad {
	width: 470px;
	margin-left: 40px;
}

.search {
	width: 435px;
	height: 35px;
	font-size: 18px;
	font-weight: 600;
	padding-left: 15px;
	background: var(--background)/*#FFFFFF*/;
	border: 1px solid var(--border-yellow)/*#FFD642*/;
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	/*border-radius: 9px;*/
	border-bottom-left-radius: 9px;
	border-top-left-radius: 9px;
}

.search:focus{
	outline: none;
}

.search-button {
	width: 35px;
	height: 35px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	background-color: var(--background) /*#FFFFFF*/;
	background-size: cover;
	background-position: center;
	border: 1px solid var(--border-yellow)/*#FFD642*/;
	border-left: none;
	border-bottom-right-radius: 9px;
	border-top-right-radius: 9px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition : background 0.2s ease-in-out;
}

.search-button:hover {
	background: var(--link-hover-main);
}

.search-button:focus {
	outline: none;
}

.link-ad:link,
.link-ad:visited {
	display: block;
	width: 345px;
	margin: 0 auto;
	margin-top: 10px;
	color: #000;
	font-size: 24px;
	text-align: center;
	padding: 10px 30px;
	background: var(--background) /*#FFFFFF*/;
	border-radius: 15px;
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition : background 0.2s ease-in-out;	
}

.link-ad:hover {
	background: var(--link-hover-main);
	box-shadow: 0px 0px 3px rgba(152, 119, 0, 0.8);
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition : background 0.2s ease-in-out;	
} 

.link-ad:active {
	padding-top: 13px;
	padding-bottom: 7px;
}

.theme-switch-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10px;
	padding-top: 4px;
}

.theme-switch-wrapper input[type=checkbox]{
	height: 0;
	width: 0;
	margin: 0;
	visibility: hidden;
}

.theme-switch-wrapper label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	/*margin-left: 30px;*/
	background: var(--background);
	float: right;
	border-radius: 100px;
	position: relative;
}

.theme-switch-wrapper label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: var(--main-color);
	border-radius: 100px;
	transition: 0.3s;
}

.theme-switch-wrapper input:checked + label {
	background: var(--background);
}

.theme-switch-wrapper input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.theme-switch-wrapper p {
	font-size: 14px;
	margin-top: 5px;
}

.header-nav-icons-wrapper {
	display: flex;
	margin-left: auto;
}

.header-nav-icon-link:link,
.header-nav-icon-link:visited {
	position: relative;
	height: 55px;
	width: 86px;
	text-align: center;
	transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
  	-moz-transition: color 0.2s ease-in-out;
  	-o-transition : color 0.2s ease-in-out;
}

.header-nav-icon-link:hover,
.header-nav-icon-link:active {

}

.header-nav-icon {
	font-size: 24px;
	padding: 4px 20px 1px 20px;
}

.header-nav-icon-link p {
	font-size: 14px;
	margin: 0;
	padding-top: 5px;
}

.shopping-bag-item-count {
	position: absolute;
	top: -2px;
	right: 20px;
	color: #F9F9F9;
	background: red;
	padding: 0 1px 2px 1px !important;
	margin-top: 5px !important;
	width: 14px;
	height: 14px;
	font-size: 14px;
	border-radius: 20px;
}

.header-nav-login-reg {
	position: absolute;
	bottom: 10px;
	right: 15px;
}

.header-nav-login-reg-link:hover,
.header-nav-login-reg-link:active {
	text-decoration: underline;
}

/*------------------------------------------slider------------------------------------------------*/
.slider {
	position: absolute;
	width: 1140px;
	height: 186px;
	left: 0px;
	top: 113px;
	right: 0px;
	margin: auto;

	background: #000;
/*	background: url('images/1848412.png');
*/}
/*------------------------------------------site nav----------------------------------------------*/
.site-nav {
	width: 100%;
	height: 263px;
	margin-top: 104px;
	background: var(--main-color)/*#FFD642*/;
}

.site-nav-link-container{
	display: flex;
	padding: 16px 112px;
}

.site-nav-link:link,
.site-nav-link:visited {
	display: block;
	text-align: center;
	margin-right: 35px;
	padding: 20px 35px 15px;
	width: 179px;
	height: 197px;
	color: #000;
	background: var(--background)/*#FFFFFF*/;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition : background 0.2s ease-in-out;
}

.site-nav-link:hover,
.site-nav-link:active {
	background: var(--link-hover-main);
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
  	-moz-transition: background 0.2s ease-in-out;
  	-o-transition : background 0.2s ease-in-out;	
}

.site-nav-link:last-child {
	margin-right: 0;
}

.site-nav-image {
	width: 150px;
	height: 150px;
}

.site-nav-p {
	margin-top: 5px;
	font-size: 22px;
	text-align: center;
}

/*-------------------------------------------shop nav---------------------------------------------*/
.shop-nav {
	width: 93.7%;
	top: 562px;
	left: 290px;
	padding: 30px 40px 50px 40px;
}
									/*------filler nav------*/
.filler-nav {
	display: flex;
}

.filler-nav .filler-nav-item:link,
.filler-nav-item:visited {
	display: flex;
	width: 31.95%;
	height: 86px;
	padding: 0 0 0 30px;
	align-items: center;

	/*background: linear-gradient(90deg, #FFD338 0%, #FFDA57 50%, #FDBE1E 100%);*/
	background: var(--main-color) /*#FFD642*/;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
}

.filler-nav-item:active .filler-nav-img{
	margin-top: 5px;
}

.filler-nav-item:active .filler-nav-p{
	margin-top: 5px;
}

.filler-nav .filler-nav-item:first-child {
	margin-right: 20px;
}

.filler-nav .filler-nav-item:last-child {
	margin-left: 20px;
}

.filler-nav-img {
	width: 54px;
	height: 54px;
}

html[data-theme="dark"] .filler-nav-img {
	filter: invert(90%);
}

.filler-nav-p {
	margin: 0;
	font-size: 22px;
	margin-left: 10px;
}
									/*-----delivery promotion-----*/
.delivery-categories-wrapper {
	display: flex;
}

.delivery-promotion {
	width: 265px;
	height: 515px;
	margin-top: 30px;
	background: var(--white-gray-switch) /*#FFFFFF*/;
	border: 2px solid var(--border-yellow);
	box-sizing: border-box;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
	padding-bottom: 30px;
}	

.delivery-promotion-p {
	width: 100%;
	font-size: 24px;
	color: #000;
	background: var(--border-yellow);
	text-align: center;
	margin: 12px 0;
}

.delivery-promotion-p:first-child {
	margin-top: 50px;
}

.delivery-promotion-img {
	width: 100%;
	bottom: 0;
	margin-top: 30px;
}

html[data-theme="dark"] .delivery-promotion-img{
	filter: invert(90%);
}
								/*-----categories nav-----*/
.categories-nav {
	width: 900px;
	margin-left: 20px;
	height: 515px;
	margin-top: 30px;
}

.categories-nav-item {
	position: relative;
	width: 100%;
	height: 112px;
	margin-bottom: 23px;

	/*background: linear-gradient(90deg, #FDC021 0%, #FFD955 49.65%);*/
	background: var(--main-color)/*#FFD642*/;
}

.categories-nav-img {
	height: 112px;
	filter: drop-shadow(2px 0px 4px rgba(100, 100, 100, 0.25));
}

html[data-theme="dark"] .categories-nav-img{
	filter: brightness(0.8) contrast(1.1);
}

.categories-nav-nav {
	float: right;
	width: 65%;
	padding: 26px 0;
}

.categories-nav-nav p {
	margin: 5px 0;
	font-size: 20px;
	font-weight: 600;
}

.categories-nav-link:hover,
.categories-nav-link:active {
	text-decoration: underline;
}
/*------------------------------------------footer-------------------------------------------------*/
footer {
	width: 100%;
	height: 317px;

	background: var(--main-color)/*#FFD642*/;
	box-shadow: 0px 0px 4px 1px rgba(142, 119, 0, 0.6);
}